<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <style>
    body { 
    padding-top: 65px; 
}
</style>  
	<% include navbar %>
  <div class="container-fluid text-center">
  	<div class="row">
       <div class="col-sm-3 well">
                <div class="row">
                    <div class="well">
                      <p>profile photo,follower,friendslist,interested section,confession.</p>
                    </div>
                    <div class="well">
                       <p>Profile Photo</p>
                       <img src="" alt="profile photo" class="img-circle" height="65" width="65">
                    </div>
                    <div class="well">
                        <p>Follwer: 25</p>
                    </div>
                    <div class="well">
                        <p>freinedlist</p>
                    </div>
                    <div class="well">
                        <p>interested section list</p>
                    </div>
                    <div class="well">
                        <p>confession book</p>
                    </div>
                </div>
            </div>
        <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-12">
                 <p> story of life time which has been created by yourself.</p>         
              </div>
             </div>
             <div class="well">
              <div class="row">
               <div class="well"> 
                <div class="col-sm-12" style="text-align:center">
                   <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                </div>
                <div class="col-sm-12" "text-align:center">
                  <p>Hey its 24th August , i am in the banagalore,India. I have been doing great work within the beautiful world creatures.I believe there would be some sort of nightmare come that change the lifestyle of the man and woman.you know what we are seeking some kind of generosity among each other just because of ourselves choices that ruin the life. Now its become easy to notedown and quite easy to remember so that you can see your life changing story on your own works which you like to present ahead of the world so that upcoming gene could read and learn what happened to the people lie if something wrong decisions had been taken by us.
                  that sit , stay clam. we will come some good news of daily life routine.</p>
                </div>
               </div>
              </div>
              <div class="row">
               <div class="well">
                <div class="col-sm-12" style="text-align:center">
                   <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                </div>
                <div class="col-sm-12" "text-align:center">
                  <p>Hey its 24th August , i am in the banagalore,India. I have been doing great work within the beautiful world creatures.I believe there would be some sort of nightmare come that change the lifestyle of the man and woman.you know what we are seeking some kind of generosity among each other just because of ourselves choices that ruin the life. Now its become easy to notedown and quite easy to remember so that you can see your life changing story on your own works which you like to present ahead of the world so that upcoming gene could read and learn what happened to the people lie if something wrong decisions had been taken by us.
                  that sit , stay clam. we will come some good news of daily life routine.</p>
                </div>
               </div> 
              </div>
             </div> 
        </div>  
  	</div>
  </div>

  <% include footer %>
   
</body>

