<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/feed.css">
		<div class="w3-card-4 center">

		   		<header class="w3-container "> <!--header section -->
		   		        <div class="w3-row">
          						 <div class="w3-col s2 w3-center" > <img src="img/img_avatar3.png" alt="Avatar" class="w3-left w3-circle " style="width:40px"></div>
          						 <div class="w3-col s10"><a href="#"><B>Monarch</B></a>
          						    
          						         <input type="image" src="img/tripledot.png" alt="Submit" width="20" height="20" style="padding: 2px; margin-left:200px;">
          						 </div>

          						
       					</div>
       					<small>yesterday 9:30</small>
           		</header>
           		<hr>
           		<div >								<!--image section -->								
                    <img src="img/img_fjords.jpg" alt="Norway" style="width:100%">
           		</div>
           		<hr>

   				
           		<div >  <!--buttons section -->
           		       		<input type="image" src="img/thumbsup.jpg" alt="Submit" width="27" height="27" style="padding: 2px; margin-left: 10px"><mid><i style="margin-left: 6px; margin-bottom: : 9px"><a href="http://example.com">Favour</a></i></mid>

           		       		<input type="image" src="img/thumbsdown.jpg" alt="Submit" width="27" height="27" style="padding: 2px; margin-left: 10px"><mid><i style="margin-left: 6px; margin-bottom: : 9px"><a href="http://example.com">Unfavour</a></i></mid>

           		       		<input type="image" src="img/comment.png" alt="Submit" width="27" height="27" style="padding: 2px; margin-left: 10px"><mid><i style="margin-left: 6px; margin-bottom: : 9px"><a href="http://example.com">Comments</a></i></mid>
 
          		       		<input type="image" src="img/share.png" alt="Submit" width="27" height="27" style="padding: 2px; margin-left: 10px"><mid><i style="margin-left: 6px; margin-bottom: : 9px"><a href="http://example.com">Share</a></i></mid>
 
           	    </div>
           		
	    
                <hr>
           	     <div class="w3-light-gray">			<!--comment section -->

           	               	<div class="w3-row">
          						 <div class="w3-col s1 w3-center" > <img src="img/img_avatar3.png" alt="Avatar" class=" w3-circle " style="width:20px"></div>

          						 <div class="w3-col s11 "><B><a href="#">Santa</a></B>
          						       <mid> This is my comment just for testing bsafhsah  hvhjsd hjsabvfhsd hjavhfsd h wvagf ghvfgah ....it seems nice !.</mid>
          						 </div>
                            </div>

           			    	<div class="w3-row">
        						 <div class="w3-col s1 w3-center" > <img src="img/img_avatar3.png" alt="Avatar" class=" w3-circle " style="width:20px"></div>

          						 <div class="w3-col s11 "><B><a href="#">Xyz</a></B>
          						       <mid> Xyz has also written comment h ....awesome :) !.</mid>
          						 </div>

          				    </div>
           			    	<div class="w3-row">          				    
          						 <div class="w3-col s1 w3-center" > <img src="img/img_avatar3.png" alt="Avatar" class=" w3-circle " style="width:20px"></div>

          						 <div class="w3-col s11 "><B><a href="#">Ambani</a></B>
          						       <mid> Thats it for today ....gn.</mid>
          						 </div>
       			            </div>

            	</div>
                <hr>
           		<div>
           			<input class="w3-input w3-border w3-round" type="text" placeholder="Type Comments here ..">	
           		</div>  
	</div>

</html>
