	<div class="container footer navbar-fixed-bottom" style="background-color:black;color:white;text-align:center">
       <div class="row">
          <div class="col-sm-4">
          <a href="/aboutUs">AboutUs</a>
          </div>
          <div class="col-sm-4">
          <a href="/contactUS">ContactUs</a>
          </div>
          <div class="col-sm-4">
          <a href="/policy">Policy</a> 
          </div>
       </div>
	</div>