<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="social connnection on the basis of interest, making story of full live by adding color,gazzling photos,media,life stroy in whole one book that can be preintable and sharable to someone loves or to public if some thing is quite narative . last one thing is confession can be made to anyone on the basis tag name and can be sharable to twiitter,facebook and google+.for example one can make confession to goverment ,people of the country and can some one block the confefssion">
<meta name="author" content="Raja Bose(monarchpedo)">
<title><%= title %></title>
<link rel='stylesheet' href='/css/stylesheet.css' />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
 
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>	