<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
<% include header %>
</head>
<% include navbar %>
<body>  
    <!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="jumbotron">
        <div class="container">


            <h1 style="text-align:center">Story Book</h1>
            <p>Book of lifetime journey.create news and discuss on favourite topic and 
            share video and movies or pics of categorywise so that it could be easy for someone to notify 
            the interested category people all around the world. You can also create confession for some one and set date to notify according
            to your choiced group of people. we will take care of your confession because it is your own feeling for someone. 
            you can also create the story of your daily life in more fashionable way so that it will be very easy to look in future days with very specific topic.</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button">Learn more
                    &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
         <div class="row">

                            <div class="bottom text-center">
                                <!-- Trigger the modal with a button -->
                                New here ? <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signupModal">Join Us</button>
                                <% include signup %>
                                <!-- New here ? <a href="#"><b>Join Us</b></a> -->
                            </div>
                     </div>
    </div>    
 
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
       
</body>
<% include footer %>
</html>