        <div class="col-sm-12">  
          <div class="media">
               <div class="media-left media-top">
                   <img src="raja.jpg" class="pull-left" style="width:60px">
               </div>
               <div class="media-body">
                   <h4 class="media-heading">friend Name</h4>
                   <p>Last message of chat</p>
              </div>
           </div>
         </div>  