<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <style>
    body { 
    padding-top: 65px; 
}
</style>  
	<% include navbar %>

	<div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-3 well">
                <div class="row">
                    <div class="well">
                      <p>profile photo,follower,friendslist,interested section,confession.</p>
                    </div>
                    <div class="well">
                       <p>Profile Photo</p>
                       <img src="" alt="profile photo" class="img-circle" height="65" width="65">
                    </div>
                    <div class="well">
                        <p>Follwer: 25</p>
                    </div>
                    <div class="well">
                        <p>freinedlist</p>
                    </div>
                    <div class="well">
                        <p>interested section list</p>
                    </div>
                    <div class="well">
                        <p>confession book</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <p> shared feed story of own </p>
                        </div>
                   </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div>   
                <!-- for just example checking -->
                  <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                        </div> 
                      </div>
                    </div>   
                </div> 
                 <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p> John </p>
                            <img src="" class="img-circle" height="55" width="55" alt="posted guy"> 
                        </div>
                    </div>    
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="well">
                           <div class="well">
                            <h4> title of the story </h4>
                            <p>just  Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                           </div> 
                           <div class="col-sm-6" style="padding-top:0px">
                               <span class="glyphicon glyphicon-folder-open"></span>  <a href="#">Signs</a>
                               <span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>,
                               <a href="#">Fire</a>, <a href="#">Mars</a>
                            </div>
                            <div class="col-sm-6 " style="padding-top:0px">
                               <span class="glyphicon glyphicon-pencil"></span> <button  class="btn btn-primary btn-sm" onClick="commentFunction(this)" style="padding-top:0px;padding-bottom:0px">20 Comments</button>
                               <span class="glyphicon glyphicon-time"></span> August 24, 2013 9:00 PM
                           </div>
                           <% include comments %>
                        </div> 
                      </div>
                    </div>   
                </div> 
                <!-- end of the example -->      
            </div>
        </div>
	</div>
	<% include footer %>
  <% include post %>

	<script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });

        function commentFunction(object){
            object.parentNode.parentNode.getElementById("comment").style.display="block";
      }
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>